<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<div class="container">
    <div>
        <h1>Welcome</h1>
        <p>회원 기능</p>
        <p>
            <h3>Guest</h3>
            <a href="/guests/new">Register</a>
            <a href="/guests/list">List</a><br>
            <h3>Restaurant</h3>
            <a href="/restaurants/new">Register</a>
            <a href="/restaurants/list">List</a>
        </p>
    </div>
</div>
</body>
</html>
