<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Restaurant List</title>
  <style>
    table {
        width: 100%;
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
  </style>
</head>
<body>
<div class="container">
<h1>Restaurants List</h1>
<table>
  <thead>
  <tr>
    <th>Restaurant ID</th>
    <th>Name</th>
    <th>Location</th>
    <th>Parking</th>
    <th>OpenTime</th>
    <th>EndTime</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="restaurant : ${restaurants}">
    <td th:text="${restaurant.restaurant_id}"></td>
    <td th:text="${restaurant.restaurantName}"></td>
    <td th:text="${restaurant.restaurantLocation}"></td>
    <td th:text="${restaurant.restaurantParking}"></td>
    <td th:text="${restaurant.restaurantOpenTime}"></td>
    <td th:text="${restaurant.restaurantEndTime}"></td>
  </tr>
  </tbody>
</table>
</div>
</body>
</html>